<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
<!-- Basic recorder  -->
        <ziggeo ziggeo-width=320
                ziggeo-height=240>
        </ziggeo>
      </div>
  </div>
</div>
<br>

<!-- Add question_id and candidate_id to  -->
<!-- Rerecorder with customisations --><!-- 
Used when a user comes back and wants to rerecord their existing videos -->
<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ziggeo 
        ziggeo-width=320
        ziggeo-height=240
        ziggeo-key='My video'
        ziggeo-tags='marketing'
        ziggeo-id='78'
        ziggeo-form_accept='this fro form'
        ziggeo-client_auth='2bb2b8fe4f6383002ac59a60a6387587'
        ziggeo-perms='allowupload'
        ziggeo-limit=120
        ziggeo-rerecordings=4
        ziggeo-face_outline
        ziggeo-modes="rerecorder"
        ziggeo-video="_USERID"
        >
</ziggeo>
      </div>

  </div>
  
<!-- Used to identify new submissions  -->
<script>ZiggeoApi.Events.on("submitted", function (data) {
  alert("Submitted a new video with token '" + data.video.token + "'!");
});</script>

<br>
</div>
<!-- ######################################################################################################################### -->
<!-- Used for listing all videos in browser -->
<script>ZiggeoApi.Videos.index({}, {
  success: function (args, videos) {
    // videos is an array of all the videos
    // the following code dynamically adds all the videos to the page
    for (var i = 0; i < videos.length; ++i) {
      $("body").append("<ziggeo ziggeo-width=320 ziggeo-height=240 ziggeo-video='" + videos[i].token + "'></ziggeo>");
    }
  }
});</script>




<%= link_to 'New Video', new_video_path %>


